body 
{text-align: center;
color: #556270;
font-family: 'Yanone Kaffeesatz', sans-serif;
background-color: #C7F464;}
h1
{
	font-size: 64px;
	text-shadow: 2px 2px 2px #ccc;
}
p 
{font-size: 24px;}
a:link
{color: #4ECDC4;}
a:visited
{color: #4ECDC4;}
a:active
{color: #4ECDC4;}
a:hover
{color: #C7F4F4;}